{% extends "warehouse/base.html" %}
{% block css %}
<style>
    .row {
        font-size: large;
        font-weight: 600;

    }

    .col {
        border: 2px solid;
        background: #5b5fb0;
    }

    .searched_col {
        background: #abaee2;
    }

    .table {
        font-size: medium;
        border: 2px solid;
    }

    th {
        border: 1px solid;
    }

    td {
        border: 1px solid;
    }

    tr {
        background: cadetblue;
    }

    .customer_btn {
        width: 70px;
        float: left;
        font-size: large;

    }
    .select-all {
        border: 2px solid black;
        margin-left: 113px;
        width: 101px;
        padding: 7px;
        background: #1071bb;
        border-radius: 6px;
        font-size: larger;
        height: 41px;
        color: aliceblue;
    }
</style>

{% endblock %}
{% block body %}

<body>
    
        
            <form method="post" action="{% url 'export_customer' %}">
                {% csrf_token %}
                <button class="btn btn-lg customer_btn btn-primary btn-block mb-2 mx-2" type="submit" style="">Export</button>
                <input id="input_customer" type="text" value="" name="serial_numbers" hidden required>
            </form>
            {% if file_path %}
            <div class="container">
                <h2>Click below link to download the file</h2>
            <a href={{file_path}} style="font-size: large;" download> download csv file</a>

            </div>
            
            <style>
                .table{
                    display: none;
                    
                }
                .customer_btn{
                    display: none;
                }
                .select-all{
                    display: none;
                }
            </style>
            {% endif %}
            <div class="select-all">
                <input type="checkbox" id="select-all">
                <label for="" style="    font-size: small;font-weight: 600;">Select All</label>
        
            </div>


            <table class="table my-5 ms-1 me-1">
                <thead>
                    <tr>
                        <th>Select rows</th>
                        <th>Customer Name</th>
                        <th>customer_id</th>
                        <th>serial_number</th>
                        <th>height</th>
                        <th>Width</th>
                        <th>Length</th>
                        <th>Storage Space</th>
                        <th>Weight</th>
                        <th>Storage Name</th>
                        <th>Locate</th>
                        <th>Date </th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Warehouse</th>
                        
                    </tr>
                </thead>
                {% for customer in ware_house_obj %}
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="form-check-input checkboxAll" id="check_button" name="is_client"
                            value="{{customer.serial_number}}" ></td>
                        <td>{{customer.customer_name}}</td>
                        <td>{{customer.customer_id}}  </td>
                        <td id="serial-no">{{customer.serial_number}}</td>
                        <td>{{customer.height}}       </td>
                        <td>{{customer.width}}        </td>
                        <td>{{customer.length}}       </td>
                        <td>{{customer.storage_space}}</td>
                        <td>{{customer.weight}}       </td>
                        <td>{{customer.storage_name}} </td>
                        <td>{{customer.locate}}       </td>
                        <td>{{customer.date}}         </td>
                        <td>{{customer.description}}  </td>
                        <td>{{customer.quantity}}     </td>
                        <td>{{customer.warehouse}}     </td>
        
                    </tr>
                   
                </tbody>
                {% endfor %}
                
            </table>
           
    
        

    
    
    <script>
         var str_cust =""
        $(".form-check-input").on("click", function (e){
           var id= $(this).val();
           console.log("id", typeof(id))
           if ($('#input_customer').val().includes(id)){
            console.log('in if statement', id)
            str_cust= "str_cust.replace(id+',', '')"
            $('#input_customer').val(str_cust)
           }
                     
           else{
            str_cust = str_cust  + id+ ','
           console.log('string value', str_cust)
           
           $('#input_customer').val(str_cust)

           }

           console.log(' input value one:', $('#input_customer').val())
           
        });
    //     $("#select-all").click(function(){
    //     if(this.checked){
    //         $('.checkboxAll').each(function(){
    //             $(".checkboxAll").prop('checked', true);
    //         })
    //     }else{
    //         $('.checkboxAll').each(function(){
    //             $(".checkboxAll").prop('checked', false);
    //         })
    //     }
    // });

    var str_all= ""
        $("#select-all").on("click", function (e){
        $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
        $( "tr" ).each(function( index ) {
            serial_number_cust= $( this ).children("#serial-no").text()
            serial_number_cust_string= String(serial_number_cust)
            console.log('typeof serial',typeof(serial_number_cust) )
            if ($('#input_customer').val().includes(serial_number_cust_string)){
            
            str_cust= str_cust.replace(serial_number_cust_string+',' , '')
            str_cust= str_cust.replace(serial_number_cust_string , '')
            console.log("serial_number_string", serial_number_cust_string)
            $('#input_customer').val(str_cust)
           }
           else{
            str_cust = str_cust + serial_number_cust_string + ','
            $('#input_customer').val(str_cust)
           }
            
  console.log('in serial number:',$('#input_customer').val());
});

});

    </script>
</body>

{% endblock %}