{% extends "warehouse/base.html" %}
{% block css %}
<style>
.customer_search{
    align-items: center;
    position: relative;
    margin-left: 400px;
    margin: 180px;
    margin-top: 70px;
   

}
.search-btn{
    border: 2px solid;
    width: 116px;
    padding: 4px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    background: #6899e3;
}

</style>

{% endblock %}
{% block body %}
<body>
<div class="container">
    
    <div class="customer_search">
        <h2>Search by Customer Name or Customer ID</h2>
        <form method="post" action="{% url 'customer_search' %}">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages" style=" color: brown; font-weight: 600; padding: 2px; font-size: larger;">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
        {% endif %}
            <div class="username-info">
                <label for="username">
                    <input id="customer_name" name="customer_name" type="text" placeholder="Customer Name"  />
                </label>
            </div>
            <div class="password-info">
                <label for="password">
                    <input id="customer_id" name="customer_id" type="text" placeholder="Customer ID" />
                </label>
            </div>
            <button class="btn btn-lg btn search-btn" type="submit" >Search</button> 
            
            
        </form>
    </div>
    
    
</div>

    

</body>


{% endblock %}