{% extends "warehouse/base.html" %}

{% block css %}
<style>
.container{
    justify-items: center;
    align-items: center;
    padding: 100px;
}
.home_buttons{
    margin: auto;

    width: 300px;

}
.home_button_block{
    margin-top: 20px;
    margin-left: auto;
    position: relative;
    justify-content: center;

    align-items: center;
}
.search_buttons{
    width: 250px;
}
.btn{
    background: #628ac4;
    height: 50px;
}

</style>
{% endblock %}
{% block body %}

<body>
    <div class="container" style="text-align: center;">
        <h2>Click on one of the following button to search</h2>
        
        <div class=" d-block home_button_block">
            <div class="home_buttons">
               <a href="{% url 'customer_search' %}"><button type="button" class="btn btn-primary my-2"><h2 class="search_buttons">Search Customer</h2></button></a> 
            </div>
            <div class="home_buttons">
                <a href="{% url 'product_search' %}"><button type="button" class="btn btn-primary my-2"><h2 class="search_buttons"> Search Product</h2></button></a>
            </div>
            <div class="home_buttons">
                <a href="{% url 'options' %}"><button type="button" class="btn btn-primary my-2"><h2 class="search_buttons">WareHouse Details</h2></button></a>
            </div>
        </div>
    </div>
    
        
</body>


{% endblock %}