{% extends "warehouse/base.html" %}
{% block css %}
<style>
.container{
    justify-items: center;
    align-items: center;
    padding: 100px;
}
.warehouse_buttons{
    margin-right: -20px ;
    margin: revert;

    width: 300px;

}
.home_button_block{
    margin-top: 20px;
    margin-left: auto;
    position: relative;
    justify-content: center;

    align-items: center;
}
.search_buttons{
    width: 100px;
}
.ware_opts{
    text-transform: capitalize;
    background: #1371ba;
    height: 50px;
    font-size: large;
}

</style>
{% endblock %}
{% block body %}

<body>
    <div class="container">
        <h1 style="float: left; margin-top: -70px;">Warehouse Options:</h1>
        <form method="post" action="{% url 'options' %}" class="d-flex">
            {% csrf_token %}
            {% for storage in list_of_warehouses %}
            <div class=" d-block home_button_block">
                <div class="warehouse_buttons d-flex">
                   <input name="storage_name" type="submit" value="{{storage}}" class="btn btn-primary my-2 ware_opts"> 
                </div>
            </div>
            {% endfor %}
        </form>
        
        
    </div>
    
        
</body>


{% endblock %}